@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Oswald:wght@200&family=Roboto+Condensed&family=Roboto+Slab:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Oswald:wght@200;300;400;500&family=Roboto+Condensed&family=Roboto+Slab:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Lobster&family=Oswald:wght@200;300;400;500&family=Roboto+Condensed&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0%;
    padding: 0%;

}
html{
    scroll-behavior: smooth;
}

.logo {
    width: 20%;
    display: flex;

}

.logo img {
    width: 52%;
    /* border: 3px solid black; */
    border-radius: 40%;
    padding: 0px 23px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
   



}

.nav-list {
    width: 50%;
    display: flex;
    /* background-color: black; */

    align-items: center;

}

.nav-list li {
    list-style: none;
    padding: 23px 34px;



}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Acme', sans-serif;
}

.nav-list li a:hover {
    color: blue;
}

.rightNav {
    /* background-color: aquamarine; */
    width: 50%;
    text-align: right;

}

#Search {
    padding: 5px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 9px;
    width: 100px;

}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/city1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 115vh;
}

.box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    padding: 164px;
    font-size: 25px;

}

.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.SecondHalf {
    width: 30%;
    padding: 15px;

}

.SecondHalf img {
    width: 95%;
    border: 3px solid white;
    border-radius: 144px;
    display: block;
    margin: auto;

}

.btn {
background: none;
    color: white;
    padding: 8px;
    border: 2px solid rgb(245, 240, 240);
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    margin: 12px;
    cursor: pointer;
}
.btn:hover{
    background-color: grey;
}
.btn-sm{
    padding: 3px 10px;
    vertical-align: middle;

}
.btn-dark{
    color: black;
    background-color: rgb(119, 119, 250);
    margin: auto;
    padding: 5px;
}

.text-big {
    font-size: 45px;
    font-family: 'Acme', sans-serif;
    padding: 8px;

}

.text-small {
    font-size: 20px;
    font-family: 'Bree Serif', serif;

}
.section{
    /* height: 700px; */
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    font-family: 'Bree Serif', serif;
    background-color: black;
    color: white;

    
}
.sectionTag{
    padding: 18px 0px;
}
.section-left{
   
    flex-direction: row-reverse;
    
}
.paras{
    padding: 0 98px;
}
.imgFluid{
    padding: 0px 0px;
}
.thumbnail{
    border: 5px solid rgb(245, 141, 141);
    border-radius: 20px;
    
}
.Contact{
    /* background-color: rgb(240, 227, 212); */
    background: rgba(154, 100, 100, 0.7) url('../img/contactd.jpg');
    background-size: cover;
    /* height: 650px; */
}

.dev{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    /* color: rgb(22, 94, 226); */
    color: rgb(17 21 224);

}
.form {
    width:344px;
    padding: 20px;
    /* margin: auto; */

}
.form-input{
    width: 115%;
    font-size: 25px;
    border: 2px solid rgb(39, 32, 32);
    border-radius: 8px;
    /* text-align: center; */
    margin: 15px 0px;
    font-family: 'Bree Serif', serif;
}
.footer{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif;
}
.burger{
    display: none;
position: absolute;
cursor: pointer;
right: 5%;
top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
@media only screen and (max-width:1000px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 480px;
        transition: all 0.7s ease-out;
    }
    /* #search{
        width: 100px; }*/
    
    .rightNav{
        width: 34%;
    }
    .box-main{
        flex-direction: column-reverse;
    width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height:72px;
    }
    .v-class-resp{
        opacity: 0%;
    }
    .section{
        flex-direction: column-reverse;
        
    }
    /* .paras{
        padding: 0px 0px;
    } */
}